* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt: #fff;
    --back: #111;
}

body {
    background: var(--back);
    color: var(--txt);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}