// Original styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt: #fff;
    --back: #111;
}

body {
    background: var(--back);
    color: var(--txt);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}

.split {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;

    .panel {
        position: relative;

        &.base::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            cursor: move;
        }
    }

    &.column {
        flex-direction: column;

        .panel {
            width: 100%;
        }

        > :first-child {
            border-bottom: 1px solid silver;

            &.base::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -15px;
                height: 30px;
                cursor: row-resize;
            }
        }
    }

    &.row {
        flex-direction: row;

        .panel {
            height: 100%;
        }

        > :first-child {
            border-right: 1px solid silver;

            &.base::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: -15px;
                width: 30px;
                cursor: col-resize;
            }
        }
    }

    > :nth-child(2) {
        flex: 1;
    }
}

.split .panel {
    display: flex;
    flex-direction: column;

    .panel-header {
        background-color: #2c2c2c;
        padding: 10px;
        border-bottom: 1px solid #444;
        font-weight: bold;
        color: #ddd;
    }

    .panel-content {
        padding: 15px;
        flex: 1;
        overflow-y: auto;

        h3 {
            margin-top: 0;
            color: #aaa;
            border-bottom: 1px solid #444;
            padding-bottom: 5px;
        }

        p {
            margin: 10px 0;
            line-height: 1.5;
        }

        ul {
            padding-left: 20px;

            li {
                margin: 5px 0;
            }
        }

        .button-group {
            margin-top: 15px;

            button {
                background: #444;
                color: white;
                border: none;
                padding: 8px 15px;
                margin-right: 10px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background: #555;
                }
            }
        }

        .info-box {
            background: #222;
            padding: 10px;
            border-radius: 4px;
            border-left: 3px solid #666;
        }
    }
}